@using Microsoft.AspNetCore.Identity

@using global::RentConnect.API.RentConnect.Domain.Models

@inject UserManager<ApplicationUser> _userManager
@inject RoleManager<IdentityRole> _roleManager


<h3>Access Denied</h3>
<p>You do not have permission to view this page.</p>